{{define "subject"}}Verification Email{{end}}

{{define "plainBody"}}
Hi {{.Name}},

This is an example body

Sent at: {{now}}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h2>storemypdf</h2>
    <p>Click below link to verify your email :</p>
    <a href="{{.link}}">{{ .link }}</a>
  </body>
</html>
{{end}}