package components

templ Layout(title string, isLoggedIn bool) {
    @HtmlWrapper(title) {
        @Header(isLoggedIn)
            <main>
                { children... }
            </main>
        @Footer()
    }
}